codeexamples/Java/AppServiceBackend/src/main/resources/ConfigurationBean.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:cfg="hglabplh-tech.github.io/config"
           targetNamespace="hglabplh-tech.github.io/config"
           xmlns="http://hglabplh-tech.github.io">

    <xs:element name="appconfig">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="port" type="xs:int"/>
                <xs:element name="dbConnectString" type="xs:string"/>
                <xs:element name="defaultDocType" type="xs:string" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>