codeexamples/Java/AppServiceBackend/src/main/resources/DatabaseDoc.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://hglabplh-tech.github.io"
           xmlns="http://hglabplh-tech.github.io"
           elementFormDefault="qualified">
    <xs:element name="docstore">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="store" type="doctypestore" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="DOCTypes">
       <xs:restriction base="xs:string" >
           <xs:enumeration  value="BILL"/>
           <xs:enumeration value="USERREC"/>
            <xs:enumeration value="ORDER"/>
            <xs:enumeration value="ADRESS"/>
            <xs:enumeration value="CUSTOMER"/>
            <xs:enumeration value="HARDWARE"/>
            <xs:enumeration value="SERVICE"/>
    </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="document" id="doc">
        <xs:sequence>
            <xs:element name="name" type="xs:string" minOccurs="1"/>
            <xs:element name="id" type="xs:integer" minOccurs="1"/>
            <xs:element name="user" type="xs:string" minOccurs="1"/>
            <xs:element name="creation_date" type="xs:dateTime" minOccurs="1"/>
            <xs:element name="last_access_date" type="xs:dateTime" minOccurs="1"/>
            <xs:element name="docType" type="DOCTypes" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element name="description" type="xs:string"/>
            <xs:element name="content" type="xs:anyType" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="doctypestore" id="dtstore">
        <xs:sequence>
            <xs:element name="name" type="xs:string" minOccurs="1"/>
            <xs:element name="docStoreType" type="DOCTypes" minOccurs="1" />
            <xs:element name="doc" type="document" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>




</xs:schema>